<!doctype html>
<html lang="es">
<%- include('./partials/head') %>

<body>
  <main class="">
    
    <!-- Cuerpo principal -->
    <section class="row-form">
      <article class="col-11  card">
        <div class="card-body">
          <h2 class="display-4 text-black text-center ">Actualizar producto</h2>
        </div>
      </article>
    </section>

    <section class="bg-home pt-4">
      <div class="container">
        <div class="row-form">
          <div class="col-8 mx-auto  ">
            <div class="create-form">
              <form action="/productos/edit/<%= productoEditar.id%>?_method=PUT" method="POST">
                <div class="form-group p-1">
                  <input type="text" class="" name="nombre" placeholder="nombre"  value="<%= productoEditar.nombre%>">
                </div>
               
                <div class="form-group p-1">
                  <input type="number" class="" name="precio" placeholder="Indique el precio"  value="<%= productoEditar.precio%>">
                </div>
                
                <div class="">
                  <figure class="form-group p-1">
                    <img class="w-80" src="/images/<%= productoEditar.imagen%>" alt="">
                  </figure>
                  <input type="hidden" name="imagen" value="<%= productoEditar.imagen%>">
                  <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->
                  <input type="file" name="imagen" >

                </div>

                </div>
                <div class="form-group p-1">
                  <button type="submit" class="btn btn btn-info">Actualizar</button>
                  
                </div>

              </form>
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>