
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>


<header>
<%- include('./partials/header') %>

</header>
<a href="/productos/create" class="btn btn-danger">Crear nuevo producto</a>
<main class="mainComidas">


  <section id="galeria" class="container btn-group-vertical">
    
    
    
     
      
      <div class="row">
        <% products.forEach( prod => { %>
         <div class="col-lg-4 col-md-6 col-md-12 Helados">
          <img src= "images/<%= prod.imagen %>">
            <div class="img container-flex-box">
              <h5 class="flex-grow-30">
                  <%= prod.nombre %> 
              </h5>
              <h5 class="flex-grow-30">
                <%= prod.precio %>
                </h5>
              
              <a href="/productos/delete/<%= prod.id %> " class="btn btn-info m-1">Borrar</a> 
              
              <a href="/productos/edit/<%= prod.id %>"><button class=" boton">Editar producto</button></a>
              <a href=""><button class="boton">Añadir al carrito</button></a>
            </div>
          </div>
          <% } ) %>

        
    </section>
    
  </main>

<footer>
<div class="footer_productos"><%- include('./partials/footer') %></div>
</footer>

</html>